Hi,
<p>
<br/>
<div style="float:left;width:95%">One of your team member <%= @applicant_name %> is on leave today. He/She has left the message over here</div>
<br/>
<br/>
<div style="float:left"><%= link_to "Click here", @recorded_url %></div>
<br/>
<br/>
<br/>
<br/>
<div style="float:left">By: NT Innovators</div>
</p>
