<!DOCTYPE html>
<!-- saved from url=(0029)http://www.pinterest.com/all/ -->
<html lang="en" class=" en columns-5"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">

        <meta http-equiv="x-dns-prefetch-control" content="on">

            <link rel="stylesheet" href="http://passets-ak.pinterest.com/webapp/style/app/desktop/bundle1.260df73a.css">
            <link rel="stylesheet" href="http://passets-ak.pinterest.com/webapp/style/app/desktop/bundle2.b28292a3.css">
            <link rel="stylesheet" href="http://passets-ak.pinterest.com/webapp/style/app/desktop/bundle3.e6b91ff5.css">
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/gpdjojdkbbmdfjfahjcgigfpmkopogic">
    
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

    
<script>
    $(function() {
        $( "#sortable" ).sortable();
        $( "#sortable" ).disableSelection();
    });
</script>
    <title>Everything on Pinterest - people's latest finds from around the web</title>
<style>
    .menu {
        float: left;
        padding: 10px;
    }
    .Pin.summary .pinHolder {
        cursor: move !important;
    }
</style>
    </head>
<body>
<div data-component-type="17" class="App full AppBase Module" id="App-7">





    
            <div data-component-type="8" class="Header Module" id="Header-1">




        <div class="headerBackground"></div>
    

    <div class="headerContainer centeredWithinWrapper ">
        <div class="leftHeaderContent">
            <a data-element-type="147" href="http://www.pinterest.com/categories/" type="button" class="rounded Button DropdownButton Module primaryOnHover btn categories" id="DropdownButton-8">
        


<em></em>
<span class="accessibilityText">Categories</span></a>

            <div data-component-type="43" class="inHeader ui-SearchForm Module" id="ui-SearchForm-9">


    


    

<form action="http://www.pinterest.com/search/" method="GET" name="search">
    <div class="inHeader search Module ui-TypeaheadField" id="ui-TypeaheadField-12">

    



                <input autocomplete="off" name="q" data-element-type="227" type="text" placeholder="Search" class="ui-Input Module field" id="ui-Input-13">
    
    
    
    
    





    
        
                    
                    
        
        
        
        
                    
        
        
                    
        
        
    <div class="inHeader search ui-Typeahead Module" id="ui-Typeahead-14">
    

    

    <ul class="results" data-component-type="35"></ul>
</div>
</div>
    <button class="submit" type="submit">Search</button>
</form>
</div>
        </div>

        <div>
            <a href="http://www.pinterest.com/" id="logo" class="logo" data-force-refresh="1" data-element-type="146">Pinterest</a>
        </div>


                <div class="rightHeaderContent">
                            <div class="unauthActions">
                    <div class="LanguageMenu Module" id="LanguageMenu-10">    
<button type="button" class="rounded Button DropdownButton Module hasText languageButton btn" id="DropdownButton-15">
    


<span class="buttonText">English (US)</span>
        </button>
</div>
                    <a href="http://www.pinterest.com/login/" type="button" class="rounded NavigateButton Button loginButton unauthNagButton Module hasText LoginButton btn" id="LoginButton-11">

    


<span class="buttonText">Log in</span>
        </a>
                </div>
                    </div>
    </div>
    
    </div>

                            <button type="button" class="scrollToTop rounded Button ScrollToTop Module btn" id="ScrollToTop-2">    


<em></em>
    &nbsp;</button>
        
    

<div class="appContent ">
    <div class="mainContainer">
                            <div class="Nags Module" id="Nags-3">



                                                <div class="UnauthBanner fade Module" id="UnauthBanner-16">






<div class="centeredWithinWrapper gridWidth">
    <div class="textAndButtons">
        <div class="caption">
            <div class="title">
                There’s more to see...
            </div>
                            <div class="subtitle">
                    Sign up to see the rest of what’s here!
                </div>
                    </div>

        <div class="registerButtons">
            <button type="button" class="rounded NavigateButton Button unauthNagButton primary Module hasText btn" id="NavigateButton-17">
    


<span class="buttonText">Continue</span>
        </button>
            <button type="button" class="rounded NavigateButton Button unauthNagButton Module hasText btn" id="NavigateButton-18">
    


<span class="buttonText">Log in</span>
        </button>
        </div>
    </div>

    </div>
</div>
                        </div>
                    <div class="FeedPageBase FeedPage Module" id="FeedPage-4">


        <h1 class="feedName">
        Everything
    </h1>

    
                        <h2 class="relatedTitle">Related Interests</h2>
    <div id="Grid">
            
    
    <div class="hasFooter Grid Module" id="Grid-20">
<div class="loadingItems padItems Module centeredWithinWrapper GridItems variableHeightLayout" id="GridItems-42">
    <ul id="sortable">
        <li class="menu">
            <div class="item ">
                <div data-component-type="0" class="PinBase Pin Module summary" id="Pin-44">
                    <div class="pinWrapper">
                        <div class="pinImageActionButtonWrapper">
                            <div class="repinSendButtonWrapper">
                                <button data-element-type="0" type="button" class="rounded ShowModalButton Button primary Module primaryOnHover btn repinSmall" id="ShowModalButton-69"> 
                                    <em></em>
                                    <span class="accessibilityText">Pin it</span>
                                </button>
                            </div>
                            <div class="likeEditButtonWrapper">
                                <button data-text-unlike="Unlike" data-source-interest-id="" data-element-type="1" data-text-like="Like" type="button" class="LikeButton rounded PinLikeButton Button Module likeSmall btn" id="PinLikeButton-70">
                                    <em></em>
                                    <span class="accessibilityText">Like</span>
                                </button>
                            </div>
                            <div class="pinHolder">
                                <h4 class="pinCanonicalDescription">Using the UD Naked Palette 2: ① apply UD prime potion in Eden &amp;amp; follow with NYX milk pencil on lid &amp;amp; waterline ② apply KRYOLAN aqua color makeup (wet) in 'metallic silver' on inner lid; follow by HALF BAKED in middle lid (wet), then follow w/ CHOPPER on outer mid lid (wet)..this will make colors pop and saturate ③ blend in BUSTED all through crease &amp;amp; apply BLACKOUT to outer crease aka "V" ④ blend TEASE above crease to help transition ..... AMAZING!</h4>
                                <div class="fadeContainer">
                                    <div class="hoverMask"></div>
                                    <img src="assets/0c2bc8e34c102575d0de7a97a0bfdbae.jpg" class="pinImg fullBleed noFade" style="height:344px;width:236px;" alt="Glamour Smokey Eye Makeup">
                                </div>
                            </div>
                        </div>
                        <div class="pinMeta ">
                            <p class="pinDescription">Glamour Smokey Eye Makeup</p>
                        </div>
                        <div class="pinCredits">
                            <div class="creditItem">
                                <a href="http://www.pinterest.com/texasangel34/beauty/" title="            More from beauty            ">
                                    <img src="./pinterest_layout_files/texasangel34_1347997877_30.jpg" class="creditImg user" style="" alt="beauty">
                                    <div class="creditName">Leticia Carlin</div>
                                    <div class="creditTitle">
                                        beauty
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                                                    
        </li>
        <li class="menu">
            <div class="item ">                                                                             
                <div data-component-type="0" class="PinBase Pin Module summary" id="Pin-45">
                    <div class="pinWrapper">
                        <div class="pinImageActionButtonWrapper">
                            <div class="repinSendButtonWrapper">
                                <button data-element-type="0" type="button" class="rounded ShowModalButton Button primary Module primaryOnHover btn repinSmall" id="ShowModalButton-71">    
                                    <em></em>
                                    <span class="accessibilityText">Pin it</span>
                                </button>
                            </div>
                            <div class="likeEditButtonWrapper">
                                <button data-text-unlike="Unlike" data-source-interest-id="" data-element-type="1" data-text-like="Like" type="button" class="LikeButton rounded PinLikeButton Button Module likeSmall btn" id="PinLikeButton-72">
                                    <em></em>
                                    <span class="accessibilityText">Like</span>
                                </button>
                            </div>
                            <div class="pinHolder">
                                <div class="pinDomain">food.com</div>
                                <div class="fadeContainer">
                                    <div class="hoverMask"></div>
                                    <img src="assets/74325dbad2088eef094332ca89e09690.jpg" class="pinImg fullBleed noFade" style="height:783px;width:236px;" alt="Million Dollar Dip -5 green onions chopped, 8 oz. cheddar cheese shredded, 1- 1/2 cups mayonnaise, 1 jar Hormel Real Bacon Bits, 1 pkg. slivered almonds. Mix the onions, cheese, mayo, bacon bits, and slivered almonds together. Chill for 2 hours. Serve with favorite cracker. (Tastes best with butter flavored crackers such as Ritz or Club).">
                                </div>
                            </div>
                        </div>
                        <div class="richPinMeta">
                            <a href="http://www.pinterest.com/pin/256353403764968913/" class="richPinMetaLink">
                                <img class="richPinIcon" src="./pinterest_layout_files/4802466da698d4c4e2b1e83b30a85d5882aa44280f24f45f2b57e96d.ico" alt="food.com">
                                <span class="richPinGridAttributionTitle">from food.com                        </span>
                                <h3 class="richPinGridTitle">Neiman Marcus Dip</h3>
                            </a>
                        </div>
                        <div class="pinMeta ">
                            <p class="pinDescription">Million Dollar Dip -5 green onions chopped, 8 oz. cheddar cheese shredded, 1- 1/2 cups mayonnaise, 1 jar Hormel Real Bacon Bits, 1 pkg. slivered almonds. Mix the onions, cheese, mayo, bacon bits, and slivered almonds together. Chill for 2 hours. Serve with favorite cracker. (Tastes best with butter flavored crackers such as Ritz or Club).</p>
                        </div>
                        <div class="pinCredits">
                            <div class="creditItem">
                                <a href="http://www.pinterest.com/maditesta/food/" title="More from Food            ">
                                    <img src="./pinterest_layout_files/maditesta-1406499445_30.jpg" class="creditImg user" style="" alt="Food">
                                    <div class="creditName">Madi Testa</div>
                                    <div class="creditTitle">Food</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="menu">
            <div class="item ">
                <div data-component-type="0" class="PinBase Pin Module summary" id="Pin-46">
                    <div class="pinWrapper">
                        <div class="pinImageActionButtonWrapper">
                            <div class="repinSendButtonWrapper">
                                <button data-element-type="0" type="button" class="rounded ShowModalButton Button primary Module primaryOnHover btn repinSmall" id="ShowModalButton-73">    
                                    <em></em>
                                    <span class="accessibilityText">Pin it</span>
                                </button>
                            </div>
                            <div class="likeEditButtonWrapper">
                                <button data-text-unlike="Unlike" data-source-interest-id="" data-element-type="1" data-text-like="Like" type="button" class="LikeButton rounded PinLikeButton Button Module likeSmall btn" id="PinLikeButton-74">
                                    <em></em>
                                    <span class="accessibilityText">Like</span>
                                </button>
                            </div>
                            <div class="pinHolder">
                                <h4 class="pinCanonicalDescription">i dont think it would look quite as cute on me, and id rather wear knitted tights or at least opaque, but i still like the overall look.</h4>
                                <div class="fadeContainer">
                                    <div class="hoverMask"></div>
                                    <img src="assets/cf187542ec86d6928843f4ab317615d5.jpg" class="pinImg fullBleed noFade" style="height:353px;width:236px;" alt=" ">
                                </div>
                            </div>
                        </div>
                        <div class="pinCredits">
                            <div class="creditItem">
                                <a href="http://www.pinterest.com/addisonjo/my-style/" title="More from My Style            ">
                                    <img src="./pinterest_layout_files/addisonjo_1328275026_30.jpg" class="creditImg user" style="" alt="My Style">
                                    <div class="creditName">Addie Dick</div>
                                    <div class="creditTitle">My Style</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>

    <li class="menu">
        <div class="item ">
            <div data-component-type="0" class="PinBase Pin Module summary" id="Pin-47">
                <div class="pinWrapper">
                    <div class="pinImageActionButtonWrapper">
                        <div class="repinSendButtonWrapper">
                            <button data-element-type="0" type="button" class="rounded ShowModalButton Button primary Module primaryOnHover btn repinSmall" id="ShowModalButton-75">    
                                <em></em>
                                <span class="accessibilityText">Pin it</span>
                            </button>
                        </div>
                        <div class="likeEditButtonWrapper">
                            <button data-text-unlike="Unlike" data-source-interest-id="" data-element-type="1" data-text-like="Like" type="button" class="LikeButton rounded PinLikeButton Button Module likeSmall btn" id="PinLikeButton-76">
                                <em></em>
                                <span class="accessibilityText">Like</span>
                            </button>
                        </div>
                        <div class="pinHolder">
                            <h4 class="pinCanonicalDescription">Tiny Skull Necklace /  Dainty Layering Necklace / Delicate Chain in 14k Gold Fill, Rose Gold Fill or Sterling Silver / Mini Skull Necklace</h4>
                            <div class="fadeContainer">
                                <div class="hoverMask"></div>
                                <img src="assets/d2ba33321f83e6ec4478ab8399156995.jpg" class="pinImg fullBleed noFade" style="height:180px;width:236px;" alt="Tiny Skull Necklace / Dainty Layering Necklace by LayeredAndLong, $25.00">
                            </div>
                        </div>
                    </div>
                    <div class="richPinMeta">
                        <a href="http://www.pinterest.com/pin/243194448603821473/" class="richPinMetaLink">
                            <img class="richPinIcon" src="./pinterest_layout_files/etsy@2x.png" alt="etsy.com">
                            <span class="richPinGridAttributionTitle">from etsy.com                        </span>
                            <h3 class="richPinGridTitle">Tiny Skull Necklace / Dainty Layering Necklace / Delicate Chain 14k Gold Fill…</h3>
                        </a>
                    </div>
                    <div class="pinMeta ">
                        <p class="pinDescription">Tiny Skull Necklace / Dainty Layering Necklace by LayeredAndLong, $25.00</p>
                    </div>
                    <div class="pinCredits">
                        <div class="creditItem">
                            <a href="http://www.pinterest.com/jhames17/3/" title="More from &lt;3            ">
                                <img src="./pinterest_layout_files/jhames17-1414128380_30.jpg" class="creditImg user" style="" alt="&lt;3">
                                <div class="creditName">Jennifer Hames</div>
                                <div class="creditTitle">&lt;3</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
</div>
   <div class="GridFooter Module centeredWithinWrapper" id="GridFooter-43">


<div class="gridError">
    <button class="Button btn rounded large">
        <span>Whoops! Something went wrong.</span> Try again.
    </button>
</div>
<div class="gridLoadingWrapper">
    <hr>
    <div class="gridLoading">
        <span class="gridFooterLogoIcon"></span>
        <span class="gridFooterSpinner"></span>
    </div>
</div>
</div>
</div>

    </div>
</div>
        
    </div>
    <div class="appendedContainer">
    </div>
</div>

                    <div class="ActiveConversations Module" id="ActiveConversations-5">
</div>
                                <div class="NagNoScript NagBase Module centeredWithinWrapper" id="NagNoScript-6">




    <noscript>
            
        
                
        &lt;div class="message"&gt;Oh no! Pinterest doesn't work unless you &lt;a href="http://enable-javascript.com/" rel="nofollow"&gt;turn on JavaScript.&lt;/a&gt;&lt;/div&gt;
    
        
        &lt;style&gt;
            .NagBase {
                display: none;
            }
        &lt;/style&gt;
    </noscript>
</div>
    </div>                        <script src="./pinterest_layout_files/bundle-1.f5be0354.js"></script>
                    <script src="./pinterest_layout_files/bundle-2.13aa40b6.js"></script>
          
</body></html>